*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#username{
    width: fit-content;
    margin: 2rem auto;
}
#chat{
    display:none;
    width: 26rem;
    /* border: 1px solid blue; */
    margin: 0 auto;
}
#messages{
    max-height: 90vh;
    overflow: scroll;
    scrollbar-width: none;
}
textarea{
    border-radius: 5px;
    padding: .2rem;
}
.message-wrapper{
    width: 25rem;
    /* border: solid gray 1px; */
    border-radius: 5px;
    margin: .5rem auto;
    padding: .7rem .7rem;
    background-color: rgb(245, 245, 245);
    color: rgb(55, 55, 55);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(225, 225, 225, 0.19);
}
.user-name{
    margin-bottom: .2rem;
    font-weight: bold;
    color: rgb(129, 129, 129);
    display: inline;
}
.message-wrapper button{
    float: right;
    width: 1rem;
    height: 1rem;
    font-size: xx-small;
}
/* .message{

} */

