html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: hsl(0, 0%, 92%);
}

.tamagotchi{
    width: 20rem;
    margin: 2rem auto;
}

#interact button{
    width: 5rem;
    height: 2rem;
    margin: 1rem;
}

h1{
    color: hsl(60, 84%, 32%);
}

#character{
    display: none;
}